<div class="container">
    <h2>Examples :</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a routerLink="event-emitter" routerLinkActive="Active">Event emitter</a>
        </li>
        <li class="list-group-item">
            <a routerLink="customer-pipe" routerLinkActive="Active">Custom pipe</a>
        </li>
        <li class="list-group-item">
            <a routerLink="http-call" routerLinkActive="Active">Http call</a>
        </li>
        <li class="list-group-item">
            <a routerLink="directive" routerLinkActive="Active">Directive</a>
        </li>
    </ul>
</div>